<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone</title>
</head>
<body>
    <h1>Welcome to Twitter Clone</h1>
    <p>This is the home page.</p>
    <a href="{{ url_for('index') }}">View Tweets</a>
    <a href="{{ url_for('register') }}">Register</a>
    <a href="{{ url_for('login') }}">Login</a>
    <form action="{{ url_for('tweet') }}" method="post">
        <label for="content">Tweet:</label>
        <input type="text" id="content" name="content"><br><br>
        <input type="submit" value="Tweet">
    </form>
</body>
</html>